.composerView {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex: 1;
  z-index: 100;
  background-color: white;
  padding: 15px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .iconBtn {
    aspect-ratio: 1;
    height: fit-content;

    &.sendBtn {
      &:disabled {
        color: gray;
      }
      color: #6441a5;
    }
  }

  .files {
    width: 100%;
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    .attachmentItem {
      padding: 7.5px 10px;
      border-radius: 10px;
      display: flex;
      flex: 1;
      position: relative;
      flex-direction: column;
      background-color: whitesmoke;

      .iconClose {
        z-index: 1;
        right: 10px;
        top: 10px;
        line-height: 10px;
        font-size: 24px;
        color: gray;
        position: absolute;

        &:hover {
          color: black;
        }
      }

      .loadingSpinner {
        z-index: 1;
        right: 5px;
        top: 10px;
        height: 24px;
        width: 24px;
        position: absolute;
      }

      .fileName {
        font-size: 13px;
        font-weight: 600;
        width: 90px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        /* quan trọng để ellipsis hoạt động trong flex/grid */
        min-width: 0;
        display: block;
      }
      .fileType {
        font-size: 13px;
      }
    }
  }
}
