record-summarize-fe/node_modules
record-summarize-fe/.next
record-summarize-fe/.env
record-summarize-fe/.env.*

record-summarize-fe/.yarn
.git


record-summarize-api/.idea
record-summarize-api/.venv
record-summarize-api/src/app/logs
record-summarize-api/.env.*
record-summarize-api/.env
record-summarize-api/models
record-summarize-api/vtts

.redis
huggingface-cache


