.messageItem {
  padding: 7.5px 10px;
  display: flex;
  gap: 10px;
  max-width: 80%;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #d3d3d3;
  align-self: flex-end;
  white-space: pre-line;
  font-size: 14px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  &.isAiResponse {
    border: none;
    margin-top: 0px;
    background-color: #f1f1fc;
    width: 90%;
    white-space: inherit;
    align-self: flex-start;

    &.error {
      border: 1px solid #ff3333;
      background-color: #f5e4e5;
    }
  }
}

.errorMsg {
  padding: 7.5px 10px;
  display: flex;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #d3d3d3;
  align-self: flex-end;
  white-space: pre-line;
  font-size: 14px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border: none;
  margin-top: 0px;
  background-color: #f1f1fc;
  align-self: flex-start;
  border: 1px solid #ff3333;
  background-color: #f5e4e5;
}

.chatbotIc {
  width: 40px;
  height: 40px;
}
.notificationMsg {
  display: flex;
  width: 100%;
  justify-content: center;
  color: gray;
  padding: 10px 10px;
  font-size: 12px;
}

.dotTyping::after {
  content: " .";
  animation: dots 1.5s steps(5, end) infinite;
}

.aiAssistantTitle {
  font-size: 13px;
  color: gray;
}

@keyframes dots {
  0%,
  20% {
    content: " .";
  }
  40% {
    content: " ..";
  }
  60% {
    content: " ...";
  }
  80%,
  100% {
    content: "";
  }
}

.markdown {
  font-size: 14px;

  ol {
    list-style: decimal; /* số cho ol */
    margin: 1em 0 1em 1.5em; /* gọn, margin dưới 1em, thụt 1.5em */
    padding: 0;
  }

  ul {
    list-style: circle; /* chấm tròn cho ul */
    margin: 1em 0 1em 1.5em; /* margin dưới 1em, thụt 1.5em */
    padding: 0;
  }
  li {
    margin: 0; /* xoá margin thừa */
    padding: 0; /* xoá padding mặc định */
  }
  li + li {
    margin-top: 1em;
    margin-bottom: 1em; /* cách nhau 1 chút giữa các li */
  }

  li + p {
    margin-top: 0em;
  }
  a {
    color: #065fd4;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    margin: 1em 0 0.5em 0;
  }

  h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    margin: 0.75em 0 0.5em 0;
  }

  pre {
    font-family: var(
      --default-mono-font-family,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace
    );
  }

  strong {
    font-size: 13px;
  }

  code {
    font-family: var(
      --default-mono-font-family,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace
    );
  }
}
