.recordSettingPage {
  display: flex;
  flex-direction: column;
  .breadcums {
    &Item {
      font-size: 15px;
      color: gray;

      &.actived {
        font-weight: 500;
        color: black;
        text-transform: capitalize;
      }
    }
  }
  &Inner {
    display: grid;
    margin-top: 30px;
    gap: 20px;
    grid-template-columns: 1fr 400px;
    @media (max-width: 1400px) {
      grid-template-columns: 1fr 320px;
    }
  }
}

.sectionTitle {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 20px;
}

.generalInfoLayout {
  display: grid;
  width: 100%;
  height: 100%;
  border-right: 1px solid #d3d3d3;
  grid-template-columns: 1fr 0.7fr;
  gap: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  .formLayout {
    display: flex;
    flex-direction: column;
  }

  .videoPreview {
    display: flex;
    flex-direction: column;

    .mediaPlaceHolder {
      width: 100%;
      margin-top: 16px;
      aspect-ratio: 16/9;
      border-radius: 10px;
      border: 2px dashed #d3d3d3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
      }

      .helperText {
        font-size: 13px;
        font-weight: 500;
        color: gray;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .youtubePasteLink {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .ytbPreview {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 15px;
      }
    }

    .videoPreview {
      margin-top: 16px;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      display: flex;
      aspect-ratio: 16/9;
      background-color: #121212;
    }

    .thumbnailSelector {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 15px;
      gap: 10px;
      &Item {
        display: flex;
        border-radius: 7px;
        border: 1px dashed #d3d3d3;
        aspect-ratio: 16/9;
        width: 100%;
        position: relative;
        &:hover {
          background-color: #f5f5f5;
        }
        .overlay {
          height: 100%;
          width: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 13px;
          gap: 5px;
        }
      }
    }

    .attachmentContainer {
      display: flex;
      width: 100%;
      padding: 15px 0 0 0;
      .attachments {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        flex-grow: 1;
        width: 100%;

        .attachmentItem {
          display: flex;
          gap: 15px;
          align-items: center;
          border-radius: 10px;
          padding: 5px 5px 5px 15px;
          border: 1px solid #d3d3d3;

          .loadingContainer {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .titleWrapper {
            width: 100%;
            display: flex;
            overflow-x: hidden;
            .title {
              text-overflow: ellipsis;
              display: flex;
              font-size: 13px;
              font-weight: 600;
              width: 100%;
            }
          }

          .mime {
            font-size: 11px;
            font-weight: 500;
            color: gray;
          }
        }
      }
    }
  }
}

.workflowLayout {
  display: block;
  width: 100%;
  min-height: 80vh;

  .stepItem {
    font-size: 15px;

    &.stepItemfailed {
      color: #950606;
    }

    &Status {
      font-size: 13px;
      font-weight: 500;

      &.success {
        color: #10b981;
      }

      &.failed {
        color: #950606;
      }

      &.running {
        color: #0f52ba;
      }

      &.pending {
        color: #f29339;
      }
    }
  }
}
.stepItemDescription {
  font-size: 14px;
}

.stepItemErrorMsg {
  font-size: 14px;
  color: #950606;
}

.researchLink {
  color: #0f52ba;
  font-weight: 500;
  text-decoration: underline;
}

.previewLastSummaryButton {
  display: flex;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: whitesmoke;
  align-items: center;

  @media (max-width: 1024px) {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .recordTitle {
    width: 300px;
    overflow: hidden;
    line-height: 24px;
    height: 24px;
    color: black;
    font-weight: 600;
    text-overflow: ellipsis;

    @media (max-width: 1400px) {
      width: 120px;
    }
  }

  .version {
    font-size: 14px;
    margin-top: 3px;
    span {
      font-style: italic;
    }
  }

  .iconBtn {
    width: 40px;
    height: 40px;
  }
}
