.sidebar {
  display: flex;
  flex-direction: column;
  // height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-right: 1px solid #E5E7EB;

  .store-info {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;

    .avatar {
      width: 45px;
      height: 45px;
    }
  }

  .sidebar-items {
    width: 100%;
    padding: 0px 10px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 25px;
    gap: 10px;

  }
}

.chatbotIconHeader {
  height: 50px;
  margin-right: 15px;
  width: 50px;
}