.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-right: 1px solid #E5E7EB;
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: width;

  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    transition: justify-content 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .store-info {
    display: flex;
    gap: 10px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.15s ease-out;

    a {
      display: flex;
      width: 100%;
    }

    .avatar {
      width: 45px;
      height: 45px;
    }
  }

  .sidebar-items {
    width: 100%;
    padding: 0px 10px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 25px;
    gap: 10px;
    transition: padding 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.collapsed {
    width: 80px;

    .store-info {
      display: none;
      opacity: 0;
    }

    .sidebar-items {
      padding: 0px 5px;
    }

    .sidebar-header {
      justify-content: center;
    }
  }
}

.chatbotIconHeader {
  height: 50px;
  margin-right: 15px;
  width: 50px;
  height: fit-content;
}

.sidebar.collapsed .chatbotIconHeader {
  margin-right: 0;
  display: none;
}

.toggle-btn {
  flex-shrink: 0;
}