.staggingLabelView {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #6441a5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  a {
    margin: 0px 3px;
    color: white;
    text-decoration: underline;
  }

  span {
    font-weight: 600;
    color: white;
  }
}
