.innerLayout {
  max-height: calc(100vh - 60px);
  &.isShowStagingLabel {
    max-height: calc(100vh - 60px - 35px);
  }
}

.parentLayout {
  max-height: 100vh;
  overflow-y: hidden;

  &.stagingLabel {
    max-height: calc(100vh - 35px);
  }
}
