.wrapper {
  // border: 3px solid blue;
  height: 20px;
}

.container {
  background-color: #d3d3d3;
  height: 20px;
}

.barCompleted {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #10b981;
  height: 20px;
}

.label {
  color: white;
  padding-right: 5px;
  font-size: 12px;
  height: 20px;
}

.loadingContainer {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleCell {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

  .thumbnail {
    aspect-ratio: 16/9;
    border-radius: 4px;
    width: 80px;
  }

  .title {
    font-weight: 600;
    overflow: hidden;
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
