.key-result-item {
  padding: 10px 15px;
  border-radius: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;

  .key-result-header {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;

    .key-no {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
    }

    .key-actions {
      display: flex;
      gap: 15px;
    }
  }

  .measure-unit-stack {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 15px;
  }
}