.idea
*.pt
cccd
CCCD_Word_Detection.v2i.yolov8
dataset-v2
root
runs
.venv
src/ai_modules/*/__pycache__
src/ai_modules/*/dataset
src/modules/*/*.jpg
src/modules/*/*.png

src/ai_modules/*/raw
src/ai_modules/*/*.jpg
uploads
wavs
test_data

src/ai_modules/outputs

src/models

__pycache__
huggingface-cache

