.dialogContent {
  .form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

.dialogActions {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: flex-end;
  padding: 0px 15px 15px 15px;
  .resetButton {
    width: 80px;
  }
  .filterButton {
    width: 150px;
  }
}
