.dialogContent {
  height: 60vh;
}

.dialogAction {
  padding: 0;
}

.tableView {
  td, th {
    height: fit-content;
    padding: 7px 5px;
    font-weight: 500;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.conversationName {
  &:hover {
    text-decoration: underline;
  }
}

.tablePagination {
  width: 100%;
  padding: 0;
  padding: 0px 15px;
  border-bottom: 0;
}

.emptyView {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100%;
  justify-content: center;
}
.loadingView {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
  width: 100%;
  padding: 30px;
}
